<% const input = get('input'); %>

<h3>There has been an error in a Reaction in Fluro.</h3>

<h4>Reaction:</h4>
<p><%= input.item.title %></p>

<h4>Error:</h4>
<p><%= input.message %></p>
<p><%= input.data.error.errorMessage %></p>

<h4>Input:</h4>
<pre><%= JSON.stringify(input,null,2) %></pre>
